@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root > div > * {
    -webkit-app-region: no-drag;
  }

  #root {
    -webkit-app-region: drag;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: 'inherit';
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-uiAccentDark;
  @apply rounded-sm;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-uiAccent;
}
